
@import "app//sass/normalize";
@import "app//sass/grid";


.body{
	font-family: 'Cabin';
	font-size: 16px;
	font-weight: 600;
}

.button{
	border: none;
	border-radius: 6px;
	background-color: #24aa98;
	color: white;
	padding: 14px 40px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: unset;
}

li{
	list-style: none;
}

/* footer 1 */

.nav__link {
	color: black;
}

.row{
	padding-left: 120px;
	padding-right: 60px;
	background-color: #f2f5f8;
	margin-bottom: 25px;
	}

.footer1__logo{
	float: left;
	margin-right: 50px;	
}

.footer__nav{
	width: 100%;
	margin-top: 25px;	
}

.nav__link{
	margin-right: 40px;
	float: left;
}


.adress__text, .adress__tel, .adress__post{
	color: #b4bbc2;
}
.adress__text--first{
	margin-top: 5px;
}

/* The end footer 1 */
/* footer 2 */

.footer2__text-container{
	margin-top: 15px;
	max-width: 406px;
	line-height: 24px;
	margin-bottom: 35px;
}

.cocial{
	color: white;
	font-size: 14px !important;
	border-radius: 4px;
	padding-left: 12px;
	padding-top: 6px;
	padding: 7px 9px;
	margin-right: 6px;
	margin-bottom: 40px;

}

.cocial_facebook{
	background-color: #3162a2;

	&:after{
		content: "136";
		font-family: 'Cabin';
	}
}

.cocial_twitter{
	background-color: #2eb1eb;
	
	&:after{
		content: "68";
		font-family: 'Cabin';
	}
}

.cocial_dribbble{
	background-color: #f552b6;
	
	&:after{
		content: "16";
		font-family: 'Cabin';
	}
}
.cocial_linkedin{
	background-color: #457ac0;
	&:after{
		content: "13";
		font-family: 'Cabin';
	}
}

.nav__link--blu{
	margin-right: 30px;
	color: #65abd0;
	margin-bottom: 15px;
}

.padding-lists{
	padding-left: 65px;	
}

.list{
	float: left;
	
}

.list__title{
	color: black;
}

.list__item{
	color: $gray;
	margin-top: 15px;
}

/* The end footer 2 */
/* footer 3 */
.list__title--blu{
	color: #65abd0;
}
.footer3__logo{
	margin-bottom: 10px;
}
.column-footer3{
	padding-bottom: 40px;
}
/* The end footer 3 */
/* footer 4 */

.column-footer4{
	padding-bottom: 75px;
}

.footer4__logo{
	margin-top: -20px;
}

.list__item--large{
	max-width: 270px;
}

.list__item--blue_center{
	color: #65abd0;
	text-align: center;
}







